<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voteazy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adminpage" />
        <activity android:name=".adminotpverification" />
        <activity android:name=".voterotpverification" />
        <activity android:name=".result_page" />
        <activity android:name=".voterphoto" />
        <activity android:name=".voting_page" />
        <activity android:name=".candidate_profile" />
        <activity android:name=".adminsignup" />
        <activity android:name=".adminlogin" />
        <activity android:name=".votersignup" />
        <activity android:name=".voterlogin" />

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>